/* Common styles */
body, html {
    height: 100%;
    margin: 0;
    font: 400 1em/1.8 "Lato", sans-serif;
    color: #777;
}

.bgimg-1, .bgimg-2, .bgimg-3 {
    position: relative;
    opacity: 0.85;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg-1 {
    background-image: url("background.jpg");
    height: 100%;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        position: relative;
        opacity: 0.85;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .caption {
        position: absolute;
        top: 10%;
        left: 10%;
        right: 30%;
        color: #fff;
    }

    .caption div.header {
        color: #fff;
        font-size: 1.2em;
        letter-spacing: .2em;
    }

    .caption div.value {
        margin-bottom: 2em;
        font-size: 0.8em;
    }

    .caption div.survey {
        color: #fff;
        margin-top: 2em;
        font-size: 0.8em;
    }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        position: relative;
        opacity: 0.85;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .caption {
        position: absolute;
        top: 10%;
        left: 10%;
        right: 45%;
        color: #fff;
    }

    .caption div.header {
        color: #fff;
        font-size: 1.2em;
        letter-spacing: .2em;
    }

    .caption div.value {
        margin-bottom: 2em;
        font-size: 0.8em;
    }

    .caption div.survey {
        color: #fff;
        margin-top: 2em;
        font-size: 0.8em;
    }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
    .caption {
        position: absolute;
        top: 20%;
        left: 15%;
        right: 45%;
        color: #fff;
    }

    .caption div.header {
        color: #fff;
        font-size: 1.8em;
        letter-spacing: .3em;
    }

    .caption div.value {
        margin-bottom: 2em;
    }

    .caption div.survey {
        color: #fff;
        margin-top: 2em;
    }
}
