/* Common styles */
body, html {
    height: 100%;
    margin: 0;
    font: 400 1em/1.8 "Lato", sans-serif;
    color: #777;
}

.bgimg-1, .bgimg-2, .bgimg-3 {
    position: relative;
    opacity: 0.85;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.bgimg-1 {
    background-image: url("http://boatzilla-nlb-7262a6c5ad281a45.elb.us-west-2.amazonaws.com/potm");
}

.caption {
    position: absolute;
    top: 15%;
    left: 15%;
    right: 45%;
    border-radius: 25px;
    padding: 20px;
    color: #00aac4;
    background-color: #fff;
    opacity: 0.8;
    filter: alpha(opacity=8); /* For IE8 and earlier */
  }

.caption .header {
    font-size: 1.8em;
    text-transform: uppercase;
    letter-spacing: .3em;
    line-height: 1.3em;
    margin-bottom: .5em;
}

.caption .value {
    margin-bottom: 2em;
    color: #111;
}

.caption .survey {
    margin-top: 2em;
}

/* Desktop Styles */
@media only screen and (max-width: 1140px) {
    .caption {
        left: 10%;
        right: 30%;
    }
}

/* Laptop L Styles */
@media only screen and (max-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-position: 30% 0%;
    }
}

/* Laptop Styles */
@media only screen and (max-width: 960px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-position: 60% 0%;
    }

    .caption {
        top: 5%;
    }

    .caption .header {
        font-size: 1.2em;
        letter-spacing: .2em;
    }

    .caption .value,
    .caption .survey {
        font-size: 0.8em;
    }
}

/* Tablet Styles */
@media only screen and (max-width: 823px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-position: 30% 0%;
    }
}

/* Mobile L Styles */
@media only screen and (max-width: 425px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-position: 55% 0%;
    }
}

@media only screen and (max-height: 425px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        min-height: 600px;
    }
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
    .caption {
        top: 5%;
    }
}

/* iPad Styles */
@media only screen and (min-width: 768px) and (min-height: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-position: 50% 0%;
    }
}

/* iPhone7 Plus Styles */
@media only screen and (width: 960px) and (height: 540px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-position: 0% 0%;
        min-height: 600px;
    }
}
@media only screen and (width: 540px) and (height: 960px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-position: 55% 0%;
    }
}
